nav {
    border-bottom: 3px solid yellowgreen;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: "Manrope", sans-serif !important;
    font-size: 16px !important;
    line-height: 30px !important;
    color: #777;
}

nav {
    font-family: "Manrope", sans-serif !important;
    font-size: 16px !important;
    line-height: 30px !important;
    color: #777;
}

nav a {
    transition: 0.5s;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("https://www.fairmont-hotel-vancouver.com/content/uploads/2024/02/HVC-Blossoms-Window-EDIT.jpg");
    min-height: 700px;
}

.bgimg-2 {
    background-image: url("https://www.insideasiatours.com/sites/default/files/styles/carousel_desktop/public/2020-10/PLACE%20PAGE_HoChiMinhCity_iStock-481711830_%C2%A9HuyThoai.webp?itok=bEkoqHvP");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("https://images.adsttc.com/media/images/5015/4321/28ba/0d02/f000/0a5a/large_jpg/stringio.jpg?1414028909=");
    min-height: 400px;
}


/* TYPOGRAPHY */

h1,
h2,
h3 {
    font-family: 'Playfair Display'!important;
    font-weight: 800;
    color: #333;
}

h2 {
    margin: 20px 0 !important;
}

p {
    color: #777;
}


/* a {
    color: yellowgreen!important;
} */

button {
    border: yellowgreen 1px solid;
    background-color: yellowgreen;
    color: white;
    padding: 12px;
    transition: 0.5s;
    margin: 15px 0 !important;
    letter-spacing: 1px;
    padding: 10px 20px;
}

.border {
    font-family: 'Playfair Display';
    font-weight: 300!important;
}

button a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

button:hover {
    border: #ddd 1px solid;
    background-color: rgb(0, 96, 175);
    transition: 0.5s;
    color: white!important;
    text-decoration: none;
}

button a:hover {
    color: white;
    text-decoration: none;
}

.caption {
    font-family: 'Playfair Display'!important;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0px !important;
}


/* .caption-02 {

    border: 2px solid white;
} */

.parallax-square {
    background-color: rgba(0, 0, 0, 0.411);
    font-size: 25px;
    color: #f7f7f7;
    border: 2px solid white !important;
}

.center-text {
    text-align: center;
}

.caption span.border {
    background-color: rgba(17, 17, 17, 0.6);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}


/* DUONG */

.center-text {
    text-align: center;
}

h1,
h2 {
    margin: 50px 0;
}

.em-text {
    font-size: 24px;
    line-height: 36px;
    margin: 10% 0;
}

#projects {
    font-family: 'Playfair Display';
    font-weight: 200;
}


/* .center-video {
    display: flex;
    justify-content: center;
}

.center-video iframe {
    text-align: center;
    margin: 0 auto;
    margin: 10%;
} */

.half-part {
    margin-top: 50px;
    margin-bottom: 80px;
}

.right-text {
    padding-left: 20px;
}

iframe {
    margin-bottom: 50px;
}

.footer {
    color: #ddd;
    background-color: #282e34;
    text-align: center !important;
    padding: 50px 80px;
    text-align: justify;
    border-top: 3px solid yellowgreen;
}


/* .flower-bgr {
    background-image: url("https://cdn.dribbble.com/users/3692561/screenshots/10126537/media/835171ef32d8d1f1078cff45e95d2a4d.png");
    background-size: 50%;
    background-position: bottom right;
    background-repeat: no-repeat;
} */


/* .mask-bgr {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71JTZPoFWEL._AC_SL1500_.jpg");
    background-size: 50%;
    background-position: bottom left;
    background-repeat: no-repeat;
} */

.project-img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(240, 240, 240);
}

#tmdb {
    height: 300px;
}

.text-style-01 {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 20%;
/*     text-align: justify; */
}

.card-row {
    display: flex;
    justify-content: center;
    padding: 10% 5%;
}

.card {
    margin-bottom: 50px;
}

.btn-primary,
.btn {
    color: #fff;
    background-color: red !important;
    border-color: #0062cc;
}

.bgimg-4 {
    background-color: blue;
    mix-blend-mode: multiply;
    background-image: url("https://d3oj2y7irryo5z.cloudfront.net/wp-content/uploads/2020/03/unnamed-2.jpg");
    /* min-height: 800px; */
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}

@media (max-width: 600px) {
    .caption span.border {
        font-size: 15px !important;
        border: 2px solid white !important;
        font-weight: 600;
        background-color: rgba(41, 41, 41, 0.671);
    }
}
